
.OverViewText{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 29px;
        margin-bottom: 1.4rem;
        color: #222222;
        
}
.cardContainer{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 920px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}