.customerHistoryContainer{
    width: 100%;
    padding: 2rem;
    padding-right: 0;
}

.moneyContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid #EAECF0;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 10px;
}

.loanedContainer{
    border-right: 1px solid #EAECF0;
    width: 49%;
}

.amountPaid{
    color: #667085;;
}

.transactionHistoryText{
    color: #808080
}

.pendingPayments{
    margin-top: 1rem;
    
}

@media screen and (max-width: 980px){
    .customerHistoryContainer{
        width: 100%;
        padding: 0;
    }

}