.searchContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.searchBox{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    height: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 40%;
}
.searchInput{
    width: 95%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: .8rem;
    margin-left: .5rem;
}
.exportBtn{
    background: #FFFFFF;
    outline: none;
    border: 1px solid #DCDCDC;
    height: 2.5rem;
    width: 10%;
    font-size: .8rem;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 780px){
    .exportBtn {
            
            width: 20%;
        }
}

@media screen and (max-width: 700px) {
    .searchContainer{
        flex-direction: column;
    }
    .searchBox{
        width: 100%;
        margin-bottom: 1rem;
    }
        .exportBtn {
    
            width: 20%;
        }
}

@media screen and (max-width: 620px) {
    .exportBtn {

        width: 40%;
    }
}